body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #151417;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}